<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nie.mapper.UserRoleMapper">
    <insert id="addRoleToUserById">
        insert into springbootSpringSecurity.user_role (user_id, role_id) values (#{user_id}, #{role_id})
    </insert>

    <delete id="removeRoleFromUserById">
        delete from springbootSpringSecurity.user_role where user_id = #{user_id} and role_id = #{role_id}
    </delete>
</mapper>